
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom right,#E60001,#B00405,#7B0708,#450B0C,#0F0E0F);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Card{
    width: 300px;
    border-radius: 2px;
    background-color: #fdfdfd;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-width: 25px ;
    border-style: solid ;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    border-image: linear-gradient(to top left, darkblue, darkorchid)  ;
}
.image{
    height: 300px;
    overflow: hidden;
    margin-left: 35px;
    margin-top: 20px;
    /* border:#0F0E0F solid 2px; */
    
}
.data div{
    padding-top: 10px;
}
strong{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Lato',sans-serif;
    color: rgb(38, 41, 46);
    opacity: 0.5;
}
article{
    color: #0F0E0F;
    font-size: 25px;
    display: block;
    padding-top: 5px;
    text-align: center;
}
.data{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    display: block;
    font-weight: 350;
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: rgb(16, 60, 143);
    font-weight: 350;
    font-size: 16px;
    display: block;
    padding-top: 5px;
    font-weight: 400;
    text-align: center;

}
a:hover{
    color: green;
}
